<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mailLogger="http://typo3.org/ns/Pluswerk/MailLogger/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
  <f:flashMessages/>

  <h1><mailLogger:translate id="module.dashboard.title"/></h1>

  <f:flashMessages />

  <!-- E-Mail Log -->
  <div class="row">
    <div class="col col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <mailLogger:translate id="module.mailLog.title"/>
        </div>
        <div class="maillogger-panel-body table-fit">
          <div class="p-3 border-bottom">
            <h2 class="h4">
              <mailLogger:translate id="module.mailLog.filter.title"/>
            </h2>
            <f:form action="dashboard" method="post">
              <div class="row g-3 align-items-end">
                <div class="col-12 col-md-6 col-xl">
                  <label class="form-label" for="mail-log-filter-mail-to">
                    <mailLogger:translate id="module.mailLog.mailTo"/>
                  </label>
                  <f:form.textfield
                    id="mail-log-filter-mail-to"
                    name="mailTo"
                    value="{filter.mailTo}"
                    class="form-control"
                  />
                </div>
                <div class="col-12 col-md-6 col-xl">
                  <label class="form-label" for="mail-log-filter-mail-from">
                    <mailLogger:translate id="module.mailLog.mailFrom"/>
                  </label>
                  <f:form.textfield
                    id="mail-log-filter-mail-from"
                    name="mailFrom"
                    value="{filter.mailFrom}"
                    class="form-control"
                  />
                </div>
                <div class="col-12 col-md-6 col-xl">
                  <label class="form-label" for="mail-log-filter-subject">
                    <mailLogger:translate id="module.mailLog.subject"/>
                  </label>
                  <f:form.textfield
                    id="mail-log-filter-subject"
                    name="subject"
                    value="{filter.subject}"
                    class="form-control"
                  />
                </div>
                <div class="col-12 col-md-6 col-xl">
                  <label class="form-label" for="mail-log-filter-status">
                    <mailLogger:translate id="module.mailLog.filter.status"/>
                  </label>
                  <f:form.select
                    id="mail-log-filter-status"
                    name="status"
                    value="{filter.statusValue}"
                    class="form-select"
                  >
                    <f:form.select.option value="">
                      <mailLogger:translate id="module.mailLog.filter.status.all"/>
                    </f:form.select.option>
                    <f:form.select.option value="0">
                      <mailLogger:translate id="module.mailLog.filter.status.unknown"/>
                    </f:form.select.option>
                    <f:form.select.option value="1">
                      <mailLogger:translate id="module.mailLog.filter.status.sent"/>
                    </f:form.select.option>
                    <f:form.select.option value="2">
                      <mailLogger:translate id="module.mailLog.filter.status.error"/>
                    </f:form.select.option>
                    <f:form.select.option value="3">
                      <mailLogger:translate id="module.mailLog.filter.status.queued"/>
                    </f:form.select.option>
                  </f:form.select>
                </div>
                <div class="col-12 col-md-auto">
                  <f:form.submit
                    value="{mailLogger:translate(id: 'module.mailLog.filter.apply')}"
                    class="btn btn-primary"
                  />
                  <f:link.action action="dashboard" class="btn btn-default">
                    <mailLogger:translate id="module.mailLog.filter.reset"/>
                  </f:link.action>
                </div>
              </div>
            </f:form>
          </div>
          <table class="maillogger-task-list table table-striped table-hover">
              <thead>
              <tr>
                <th>
                  <mailLogger:translate id="module.mailLog.date"/>
                </th>
                <th>
                  <mailLogger:translate id="module.mailLog.status"/>
                </th>
                <th>
                  <mailLogger:translate id="module.mailLog.typoScriptKey"/>
                </th>
                <th>
                  <mailLogger:translate id="module.mailLog.subject"/>
                </th>
                <th>
                  <mailLogger:translate id="module.mailLog.mailFrom"/>
                </th>
                <th>
                  <mailLogger:translate id="module.mailLog.mailTo"/>
                </th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <f:if condition="{paginator.numberOfPages} == 0">
                <tr>
                  <td colspan="7" class="text-center p-4">
                    <mailLogger:translate id="module.mailLog.filter.noResults"/>
                  </td>
                </tr>
              </f:if>
              <f:for each="{paginator.paginatedItems}" as="item">
                <tr>
                  <td>
                    <f:format.date format="Y-m-d H:i:s">{item.crdate}</f:format.date>
                  </td>
                  <td>
                    <f:if condition="{item.status} == 1">
                      <span title="{item.result}"><core:icon identifier="actions-check-circle-alt"/></span>
                    </f:if>
                    <f:if condition="{item.status} == 2">
                      <span title="{item.result}"><core:icon identifier="actions-exclamation-circle-alt"/></span>
                    </f:if>
                    <f:if condition="{item.status} == 3">
                      <span title="{item.result}"><core:icon identifier="actions-info-circle"/></span>
                    </f:if>
                  </td>
                  <td>{item.typoScriptKey}</td>
                  <td>{item.subject}</td>
                  <td>{item.mailFrom}</td>
                  <td>{item.mailTo}</td>
                  <td>
                    <f:link.action action="show" controller="MailLog" arguments="{mailLog : item}" class="btn btn-default maillogger-open-modal">
                      <mailLogger:translate id="module.mailLog.details"/>
                    </f:link.action>
                  </td>
                </tr>
              </f:for>
              </tbody>
          </table>
          <div class="p-3">
            <f:render partial="MailLog/Pagination" arguments="{pagination: pagination, paginator: paginator}"/>
          </div>
        </div>
      </div>
    </div>

  </div>
</f:section>
