parameters:
	ignoreErrors:
		-
			message: "#^Method TYPO3\\\\CMS\\\\Extbase\\\\Configuration\\\\BackendConfigurationManager\\:\\:getTypoScriptSetup\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: Classes/Utility/ConfigurationUtility.php
